@font-face {
    font-family: "SF Pro Rounded";
    font-weight: bold;
    src: url("./fonts/SF-Pro-Rounded-Bold.ttf") format("ttf")
  }
  
  @font-face {
    font-family: "SF Pro Rounded";
    font-weight: bolder;
    src: url("./fonts/SF-Pro-Rounded-Black.ttf") format("ttf")
  }